<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="header :: header(~{::title})">
</head>

<body>

<div class="main-wrapper">
    <section class="page-title admin-bg-1">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block text-center">
                        <span class="text-white">Administrator</span>
                        <h1 class="text-capitalize mt-4 mb-6 text-lg">Manage Page Resources</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="section blog-wrap bg-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">

                        <!--UPDATE FORM-->
                        <form th:if="${action=='update'}"
                              id="updateform"
                              action="#" class="form-horizontal"
                              th:action="@{/admin/testimony/update}"
                              th:object="${testimony}"
                              th:method="put">
                            <div>
                                <h3 class="ml-4">Update Testimony</h3>
                                <br>
                            </div>
                            <div class="table-responsive-sm col-sm-10">
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th class="text-nowrap">Item</th>
                                        <th>Current Value</th>
                                        <th style="min-width: 20em">New Value</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td><span>id: </span></td>
                                        <td><span th:text="${testimony.id}"/></td>
                                        <td>
                                            <span th:text="${testimony.id}"/>
                                            <span hidden><input class="d-none" th:field="${testimony.id}"/></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><span>author: </span></td>
                                        <td><span th:text="${testimony.authorName}"/></td>
                                        <td><input class="form-control" th:field="${testimony.authorName}" required/></td>
                                    </tr>
                                    <tr>
                                        <td><span>title: </span></td>
                                        <td><span th:text="${testimony.authorTitle}"/></td>
                                        <td><input class="form-control" th:field="${testimony.authorTitle}" required/></td>
                                    </tr>
                                    <tr>
                                        <td><span>client: </span></td>
                                        <td><span th:text="${testimony.authorClient}"/></td>
                                        <td><input class="form-control" th:field="${testimony.authorClient}" required/></td>
                                    </tr>
                                    <tr>
                                        <td><span>testimony: </span></td>
                                        <td><span th:text="${testimony.text}"/></td>
                                        <td><textarea type="text" rows="6" class="form-control" th:field="${testimony.text}" required/></td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div>
                                    <br>
                                    <input type="submit" id="updateButton" class="btn btn-success ml-2 mr-5" th:value="Update"/>
                                    <input type="reset" id="resetButton" class="btn btn-danger" th:value="Reset"/>
                                </div>
                            </div>
                        </form>

                        <!--DELETE FORM-->
                        <form th:if="${action=='delete'}"
                              id="deleteform"
                              action="#" class="form-horizontal"
                              th:action="@{/admin/testimony/delete/{id}(id=${testimony.id})}"
                              th:object="${testimony}"
                              th:method="delete">
                            <div>
                                <h3 class="ml-4">Are you sure you want to delete this testimony?</h3>
                                <br>
                            </div>
                            <div class="table-responsive-sm col-sm-10">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th class="text-nowrap">Item</th>
                                            <th>Value</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><span>id: </span></td>
                                            <td><span th:text="${testimony.id}"/></td>
                                        </tr>
                                        <tr>
                                            <td><span>author: </span></td>
                                            <td><span th:text="${testimony.authorName}"/></td>
                                        </tr>
                                        <tr>
                                            <td><span>title: </span></td>
                                            <td><span th:text="${testimony.authorTitle}"/></td>
                                        </tr>
                                        <tr>
                                            <td><span>client: </span></td>
                                            <td><span th:text="${testimony.authorClient}"/></td>
                                        </tr>
                                        <tr>
                                            <td><span>testimony: </span></td>
                                            <td><span th:text="${testimony.text}"/></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div>
                                    <br>
                                    <input type="submit" id="deleteButton" class="btn btn-success ml-2 mr-5" value="confirm delete"/>
                                    <a id="cancelButton" class="btn btn-danger" th:href="@{/admin/home}">Cancel</a>
                                </div>
                            </div>
                        </form>


                        <!--ADD FORM-->
                        <form th:if="${action=='add'}"
                              id="addform"
                              action="#" class="form-horizontal"
                              th:action="@{/admin/testimony/add}"
                              th:object="${testimony}"
                              th:method="post">
                            <div>
                                <h3 class="ml-4">Add Testimony</h3>
                                <br>
                            </div>
                            <div class="table-responsive-sm">
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th class="text-nowrap">Item</th>
                                        <th style="min-width: 20em">Add Value</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td><span>author: </span></td>
                                        <td><input class="form-control" th:field="${testimony.authorName}" required/></td>
                                    </tr>
                                    <tr>
                                        <td><span>title: </span></td>
                                        <td><input class="form-control" th:field="${testimony.authorTitle}" required/></td>
                                    </tr>
                                    <tr>
                                        <td><span>client: </span></td>
                                        <td><input class="form-control" th:field="${testimony.authorClient}" required/></td>
                                    </tr>
                                    <tr>
                                        <td><span>testimony: </span></td>
                                        <td><textarea type="text" rows="6" class="form-control" th:field="${testimony.text}" required/></td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div>
                                    <br>
                                    <input type="submit" id="addButton" class="btn btn-success ml-2 mr-5" th:value="Save"/>
                                    <input type="reset" id="addResetButton" class="btn btn-danger mr-5" th:value="Reset"/>
                                    <a id="addCancelButton" class="btn btn-danger" th:href="@{/admin/home}">Cancel</a>
                                </div>
                            </div>
                        </form>


                    </div>
                </div>

            </div>

        </div>
    </section>


    <footer th:replace="footer">
    </footer>

</div>

</body>
</html>