<!doctype html>
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->

<!--<head th:replace="header :: header(~{::title})">-->
<!--</head>-->

<body>
<!-- Page Content -->
<div class="container">

    <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">Admin Navigation</h1>

    <hr class="mt-2 mb-5">

    <div class="row text-center text-lg-left">

        <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <button class="img-fluid img-thumbnail">Modify Clients</button>
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <button class="img-fluid img-thumbnail">Modify Jobs</button>
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <button class="img-fluid img-thumbnail">Modify Testimonies</button>
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <button class="img-fluid img-thumbnail">Modify Offers</button>
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <button class="img-fluid img-thumbnail">Manager Users</button>
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="/admin/modify_resourceStatus" class="d-block mb-4 h-100">
                <button class="img-fluid img-thumbnail">Modify Resource Status</button>
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="/admin/modify_companyProfile" class="d-block mb-4 h-100">
                <button class="img-fluid img-thumbnail">Modify Company Profiles</button>
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/EMSDtjVHdQ8/400x300" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/8mUEy0ABdNE/400x300" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/G9Rfc1qccH4/400x300" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/aJeH0KcFkuc/400x300" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/p2TQ-3Bh3Oo/400x300" alt="">
            </a>
        </div>
    </div>

</div>
<!-- /.container -->
<!--<footer th:replace="footer">-->
<!--</footer>-->

</div>

</body>
</html>