<!doctype html>
<html lang="en">

<body>
<!-- footer Start -->
<footer class="footer section">
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <div class="widget">
                    <h4 class="text-capitalize mb-4">About Us</h4>
                    <div class="widget">
                        <p class="text-black text-sm" style="line-height: 1.5">We are a rapid growing software and consultancy service provider.</p>
                        <p class="text-black text-sm" style="line-height: 1.5">Our team covers all aspects of the supply chain including recuriting, training, marketing etc. You just need to follow the flow with no worries. Our success rate is nearly 100%.</p>
                        <p class="text-black text-sm" style="line-height: 1.5">Our trainers are top rated and they are famous in the industry. They provide separate services to help everyone cracking the interviews, even it is full-time.</p>
                        <p class="text-black text-sm" style="line-height: 1.5">We also have multiple long term projects which are constanly in need of full time internships. These oppurtunities will build your industry experience. At the end of intern, we will also recommend you to the relationships we work with.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 ml-4">
                <div class="widget">
                    <h4 class="text-capitalize mb-4 ml-2">Quick Links</h4>

                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <ul class="list-unstyled footer-menu lh-35">
                                    <li><a href="/program">Program</a></li>
                                    <li><a href="/service">Resources</a></li>
                                    <li><a href="/offerboard">Offer Board</a></li>
                                    <li><a href="/testimony">We're Liked!</a></li>
                                    <li><a href="#">Upcoming Events</a></li>
                                    <li><a href="#">Exciting News</a></li>
                                    <li><a href="#">Employee Activities</a></li>
                                    <li><a href="/contact">Contact</a></li>
                                </ul>
                            </div>
                            <div class="col-sm-6">
                                <ul class="list-unstyled footer-menu lh-35">
                                    <li><a href="/admin">Administrator</a></li>
                                    <li><a href="/admin">Employee</a></li>
                                    <li><a href="/admin">Tech Screening</a></li>
                                    <li><a href="/admin">Mock</a></li>
                                    <br>
                                    <li><a href="/index"> <img class="logo-image" src="../images/contact/barcodelucy.png" ></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-2 ml-auto">
                <div class="widget">
                    <div class="logo mb-4">
                        <a href="/index"> <img class="logo-image" src="../images/logo.png" ></a>
                    </div>
                    <div>
                        <span class="text-black text-sm">
                            We are an Applications and Services provider specializing in enterprise solutions. We dispatch best resources to help clients achieving success in their business realm. We put our employees needs in first priority
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-btm pt-4">
            <div class="block">
                <div class="text-center">
                    <div class="copyright text-sm">
                        <span>
                            &copy; Copyright Reserved to Pilot Technologies LLC
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<!--
Essential Scripts
=====================================-->

<!-- Main jQuery -->
<script src="/plugins/jquery/jquery.js"></script>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<!-- Bootstrap 4.3.1 -->
<script src="/plugins/bootstrap/js/popper.js"></script>
<script src="/plugins/bootstrap/js/bootstrap.min.js"></script>
<!--  Magnific Popup-->
<script src="/plugins/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
<!-- Slick Slider -->
<script src="/plugins/slick-carousel/slick/slick.min.js"></script>
<!-- Counterup -->
<script src="/plugins/counterup/jquery.waypoints.min.js"></script>
<script src="/plugins/counterup/jquery.counterup.min.js"></script>

<script src="/js/script.js"></script>
<script src="/js/pilot.js"></script>
<script src="/js/offerManager.js"></script>

</body>
</html>