<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="header :: header(~{::title})">
</head>

<body>

<div class="main-wrapper ">
    <!-- Slider Start -->
    <section class="slider">
        <div class="container">
            <div class="row">
                <div class="text-center">
                    <div class="block">
                        <span class="d-block mb-3 text-white text-capitalize" style="font-size: 2em;font-weight: 600;">Pilot Technologies LLC</span>
                        <h1 class="mb-5">We're a rapid growing software service and staffing provider</h1>
                        <br>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Section Intro Start -->

    <section class="section intro">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="about-info-item mb-4 mb-lg-0">
                        <h3 class="mb-3" ><i class="fas fa-users mr-3 text-color text-md"></i><span>Our Team</span></h3>
                        <p>Our professional teams work for all aspects of internship and consultancy business. They have many years of experiences and lots of success models. Contact Us to get more information</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="about-info-item mb-4 mb-lg-0">
                        <h3 class="mb-3"><i class="fas fa-briefcase mr-3 text-color text-md"></i><span>Our Work</span></h3>
                        <p>Our work are expanding! It covers full time internships, training for cracking interviews, development of new software products and staffing services for web application engineering</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="about-info-item mb-4 mb-lg-0">
                        <h3 class="mb-3"><i class="fas fa-bullseye mr-3 text-color text-md"></i><span>Our Principle</span></h3>
                        <p>We want to make the consultancy environment better. We offer sponsorships and better packages. We put our employees needs as top priorities. No tricks and No hidden terms</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section Intro END -->

    <!-- Section Three-Model Start -->
    <section class="section" style="background: rgb(32, 68, 104, 0.8);">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7 text-center">
                    <div class="section-title">
                        <span class="h6 text-color">Pilot Technologies LLC</span>
                        <h2 class="mt-3 content-title text-white text-capitalize">Check out our core business</h2>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 mb-5">
                    <div class="card bg-transparent border-0">
                        <img src="images/home/model-program.jpg" alt="" class="img-fluid rounded">

                        <div class="card-body mt-2">
                            <div class="blog-item-meta">
                                <span class="text-white-50">Program</span>
                            </div>
                            <h4 class="mt-3 mb-5 lh-36">
                                <span class="text-white ">We have multiple exciting programs, including internships, interview cracking, consultancy etc</span>
                            </h4>
                            <a href="/program" class="btn btn-small btn-solid-border btn-round-full text-white">Learn More</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mb-5">
                    <div class="card border-0 bg-transparent">
                        <img src="images/home/model-resources.jpg" alt="" class="img-fluid rounded">

                        <div class="card-body mt-2">
                            <div class="blog-item-meta">
                                <span class="text-white-50">Resources & Offers</span>
                            </div>
                            <h4 class="mt-3 mb-5 lh-36">
                                <span class="text-white">Our employees are working with clients across the whole United States. We are also constantly posting offers</span>
                            </h4>
                            <a href="/service" class="btn btn-small btn-solid-border btn-round-full text-white">Learn More</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mb-5">
                    <div class="card border-0 bg-transparent">
                        <img src="images/home/model-career.jpg" alt="" class="img-fluid rounded">

                        <div class="card-body mt-2">
                            <div class="blog-item-meta">
                                <span class="text-white-50">Career & News</span>
                            </div>
                            <h4 class="mt-3 mb-5 lh-36">
                                <span class="text-white">Yes, we are hiring! Checkout the openings we have now. Don't forget to visit our News page for upcoming events</span>
                            </h4>
                            <a href="/career" class="btn btn-small btn-solid-border btn-round-full text-white">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Section Three-Model End -->

    <footer th:replace="footer">
    </footer>

</div>

</body>
</html>
   