<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="header :: header(~{::title})">
</head>

<body>

<body>

<div class="container mt-5">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin">
                <div class="card-body">
                    <br>
                    <h5 class="card-title text-center">Login to Your Account</h5>
                    <br>
                    <form class="form-signin mt-3"
                          th:action="@{/security_login}"
                          method='POST'>

                        <!-- /login?error=authentication -->
                        <div class="alert alert-danger" th:if="${#request.getParameter('error') == 'authentication'}">
                            Invalid Username/Password
                        </div>

                        <div class="form-group">
                            <input type="text" id="eid" name="eid" class="form-control rounded-lg" placeholder="Please enter assigned ID" required autofocus>
                        </div>

                        <div class="form-group">
                            <input type="email" id="email" name="email" class="form-control rounded-lg" placeholder="Please enter email" required>
                        </div>

                        <div class="form-group">
                            <input type="password" id="password" name="password" class="form-control rounded-lg" placeholder="Please enter password" required>
                        </div>

                        <br>
                        <button class="btn btn-primary btn-block text-uppercase" type="submit">Submit</button>
                        <hr class="mt-4">

                       <!-- <span>Donot have account?</span>
                        <a class="btn btn-primary btn-block text-uppercase" href="/signup">Register Account</a>-->
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

    <footer th:replace="footer">
    </footer>

</div>

</body>
</html>