<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="main-wrapper mt-5" th:fragment="details-interview">
    <div class="course-header page-header" >
        <div class="content">
            <h1 class="page-title-program">Crack Interview</h1>
            <p class="page-sub-title">Technical program to teach candidates how to crack interview and get offer</p>
        </div>
    </div>
    <div class="container"> <!--main content section starts-->
        <div class = "row">
            <div class = "sessionTitle">
                <h2>Overview</h2>
            </div>
            <div class="pl-3 pr-3">
                <p>
                    It is hard to find a job, no matter fulltime or contractor. Especially if you have little or no experience. The worse thing is they all need working authorizations.
                    <br><br>
                    The environment is crucial and therefore every opportunity you obtained is critical. That's why we are here. Our professionals have cracked too many interviews and received too many offers.
                    We are here to help you with every aspects you need to take care before you attend the interview.
                    <br><br>
                    Once you booked our program, we will review your resume and improve it to fit industry requirements. We will also mock your technical skills to find your weakness and strength.
                    We will help you improve your behavior, dressing and remind you about pitfalls to avoid. For every single interview, we will analyze the job descriptions with you and predict the possible
                    questions you may be asked in the interview. Our predicts have very high rate of match with real interviews. We also have a huge data on interview questions. Once you are capable of our interview
                    questions, your offer is on the way.
                    <br><br>
                    Without us, you go to your interview with nervousness and worries; With us, you go to your interview with smile and confidence.
                </p>
            </div>
        </div>

        <div class = "row">
            <div class = "sessionTitle">
                <h2>Information</h2>
            </div>
            <div class="ml-4 mr-4">
                <div class="row">
                    <div class="col-md-3 titleComponent">
                        <p>
                            <span>Length</span>
                        </p>
                        <h3>Unlimited</h3>
                        <small>Once booked, we will be here for you until you get an offer.</small>
                    </div>
                    <div class="col-md-3 titleComponent">
                        <p>
                            <span>Prerequisite</span>
                        </p>
                        <h3>Limited</h3>
                        <small>We expect you to have average communication skills and knowledge fitting the job description</small>
                    </div>
                    <div class="col-md-3 titleComponent">
                        <p>
                            <span>Service</span>
                        </p>
                        <h3>Many-to-One</h3>
                        <small>We have a dedicated team. This is personal tailor program.</small>
                    </div>
                    <div class="col-md-3 titleComponent">
                        <p>
                            <span>Terms</span>
                        </p>
                        <h3>Paid Program</h3>
                        <small>This is a paid program. You will need to pay for the service.</small>
                    </div>
                </div>
            </div>
        </div>

        <div class = "row">
            <div class = "sessionTitle">
                <h2>Bonus</h2>
            </div>
            <div class="row justify-content-center pl-3 pr-3">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="about-info-item mb-4 mb-lg-0">
                        <h3 class="mb-3"><i class="fas fa-medal mr-3 text-color text-md"></i><span>Top Rated Experts</span></h3>
                        <p>Our professionals have cracked too many interviews and received too many offers. They are experts in cracking interviews. See our offer board for success examples</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="about-info-item mb-4 mb-lg-0">
                        <h3 class="mb-3"><i class="fas fa-medal mr-3 text-color text-md"></i><span>Team to One</span></h3>
                        <p>It is not one-to-many, it is not one-to-one, it is team-to-one. We have a team for you. Some experts improve your behavior and some just for your technical skills.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="about-info-item mb-4 mb-lg-0">
                        <h3 class="mb-3"><i class="fas fa-medal mr-3 text-color text-md"></i><span>Resume</span></h3>
                        <p>A good resume can make huge difference even two candidates have exactly the same experience. Our resume professionals will one-to-one guide you how to prepare an attractive resume.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="about-info-item mb-4 mb-lg-0">
                        <h3 class="mb-3"><i class="fas fa-medal mr-3 text-color text-md"></i><span>Mock Interview</span></h3>
                        <p>You have the experience and knowledge, but you may not express it out the way interviewers wanted. We provide multiple rounds of technical and behavior mock interviews to help you show your real strength.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="about-info-item mb-4 mb-lg-0">
                        <h3 class="mb-3"><i class="fas fa-medal mr-3 text-color text-md"></i><span>Remote Allowed</span></h3>
                        <p>We are an organization that allows fully remote work. As part of that promise, this program can be remotely performed. You dont have to come to our office.</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="about-info-item mb-4 mb-lg-0">
                        <h3 class="mb-3"><i class="fas fa-medal mr-3 text-color text-md"></i><span>On Call Any Time</span></h3>
                        <p>We will be there for you whenever you needed. It means, if you need to interview in one hour. We will prepare you to be ready within that hour.</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="about-info-item mb-4 mb-lg-0">
                        <h3 class="mb-3"><i class="fas fa-medal mr-3 text-color text-md"></i><span>Behavior Questions</span></h3>
                        <p>Before the interview, we will mock you behavior questions; After interview, we will review your interview based on memory and pinpoint the mistakes to avoid</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="about-info-item mb-4 mb-lg-0">
                        <h3 class="mb-3"><i class="fas fa-medal mr-3 text-color text-md"></i><span>Payment Setup</span></h3>
                        <p>Even though it is a paid program, you dont need to pay in full. You can just pay certain deposit and the rest can be paid after you get the offer</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="about-info-item mb-4 mb-lg-0">
                        <h3 class="mb-3"><i class="fas fa-medal mr-3 text-color text-md"></i><span>Easy Termination</span></h3>
                        <p>If you decide to quit the program due to unexpected personal reasons, we will only charge part of the service. Besides you will get free access to our other programs</p>
                    </div>
                </div>

            </div>
        </div>

    </div> <!--main content section ends-->

</div>
</body>
</html>