<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="main-wrapper mt-5" th:fragment="details-camp">
    <div class="course-header page-header" >
        <div class="content">
            <h1 class="page-title-program">Code Camp</h1>
            <p class="page-sub-title">Joint program to provide training and internship</p>
        </div>
    </div>
    <div class="container"> <!--main content section starts-->
        <div class = "row">
            <div class = "sessionTitle">
                <h2>Overview</h2>
            </div>
            <div class="pl-3 pr-3">
                <p>
                    You are from Non-CS major, or you don't have any programming experience, or you are just a curious student. This is the program for you.
                    <br><br>
                    If you love to learn new technologies, eager to know industry projects and excited about working with a group of technical experts to deliver customer-facing solutions
                    that can help us to do business better, you are encouraged to speak with us. Donot worry about your background, the training in this program will cover it.
                </p>
            </div>
        </div>

        <div class = "row">
            <div class = "sessionTitle">
                <h2>Information</h2>
            </div>
            <div class="ml-4 mr-4">
                <div class="row">
                    <div class="col-md-3 titleComponent">
                        <p>
                            <span>Length</span>
                        </p>
                        <h3>Long Term</h3>
                        <small>The training is 8 weeks. The fulltime internship is long term.</small>
                    </div>
                    <div class="col-md-3 titleComponent">
                        <p>
                            <span>Prerequisite</span>
                        </p>
                        <h3>Not Required</h3>
                        <small>There is no prerequisite since we will cover the training.</small>
                    </div>
                    <div class="col-md-3 titleComponent">
                        <p>
                            <span>Team</span>
                        </p>
                        <h3>Full Functional</h3>
                        <small>Full size team with developers, QAs and Business.</small>
                    </div>
                    <div class="col-md-3 titleComponent">
                        <p>
                            <span>Terms</span>
                        </p>
                        <h3>Reverse Finance</h3>
                        <small>This is a reverse finance program. You will need to fund the project in order to join us.</small>
                    </div>
                </div>
            </div>
        </div>

        <div class = "row">
            <div class = "sessionTitle">
                <h2>Syllabus</h2>
            </div>
            <div class="row sybRow">
                <div class="col-md-2 syllabusLeft">
                    <div><div class="syllbusTag">SECTION I</div></div>
                </div>
                <div class="col-md-10 syllabusRight">
                    <h2 style="font-size: 20px">
                        Course Introduction
                    </h2>
                    <p>Covers overview of the training course, including assignment, quiz, presentations and marketing procedures etc</p>
                </div>
            </div>
            <div class="row sybRow">
                <div class="col-md-2 syllabusLeft">
                    <div><div class="syllbusTag">SECTION II</div></div>
                </div>
                <div class="col-md-10 syllabusRight">
                    <h2 style="font-size: 20px">
                        Web Basics
                    </h2>
                    <p>Covers essentails elements in web environment, including HTML, CSS, Bootstrap etc. Introduction to NodeJS also included.</p>
                </div>
            </div>
            <div class="row sybRow">
                <div class="col-md-2 syllabusLeft">
                    <div><div class="syllbusTag">SECTION III</div></div>
                </div>
                <div class="col-md-10 syllabusRight">
                    <h2 style="font-size: 20px">
                        Angular
                    </h2>
                    <p>Dedicated section to angular framework. Including components, forms, routes, Http, Observables and so on</p>
                </div>
            </div>
            <div class="row sybRow">
                <div class="col-md-2 syllabusLeft">
                    <div><div class="syllbusTag">SECTION IV</div></div>
                </div>
                <div class="col-md-10 syllabusRight">
                    <h2 style="font-size: 20px">
                        React
                    </h2>
                    <p>Dedicated section to React. Including React Natives, Redux, Routes and so on</p>
                </div>
            </div>
            <div class="row sybRow">
                <div class="col-md-2 syllabusLeft">
                    <div><div class="syllbusTag">SECTION V</div></div>
                </div>
                <div class="col-md-10 syllabusRight">
                    <h2 style="font-size: 20px">
                        Core Java
                    </h2>
                    <p>Most important topics in Java language, such as, thread, concurrency, design pattern, collections, stream API, lambda, OOP design etc</p>
                </div>
            </div>

            <div class="row sybRow">
                <div class="col-md-2 syllabusLeft">
                    <div><div class="syllbusTag">SECTION VI</div></div>
                </div>
                <div class="col-md-10 syllabusRight">
                    <h2 style="font-size: 20px">
                        Database
                    </h2>
                    <p>In-depth tutorial including both SQL and NoSQL. Lots of examples and practice questions covering Oracle, MySQL, SQL Server, MongoDB, Cassandra</p>
                </div>
            </div>

            <div class="row sybRow">
                <div class="col-md-2 syllabusLeft">
                    <div><div class="syllbusTag">SECTION VII</div></div>
                </div>
                <div class="col-md-10 syllabusRight">
                    <h2 style="font-size: 20px">
                        Spring Framework
                    </h2>
                    <p>Full coverage of key spring frameworks. Helping understand how the framework works internally. Covers MVC, Rest API, IoC, AOP etc</p>
                </div>
            </div>

            <div class="row sybRow">
                <div class="col-md-2 syllabusLeft">
                    <div><div class="syllbusTag">SECTION VIII</div></div>
                </div>
                <div class="col-md-10 syllabusRight">
                    <h2 style="font-size: 20px">
                        Spring Boot
                    </h2>
                    <p>Spring boot as a standalone topic to emphasis the importance and usage of this tool. Code walk through with real work examples</p>
                </div>
            </div>

            <div class="row sybRow">
                <div class="col-md-2 syllabusLeft">
                    <div><div class="syllbusTag">SECTION IX</div></div>
                </div>
                <div class="col-md-10 syllabusRight">
                    <h2 style="font-size: 20px">
                        Data Access
                    </h2>
                    <p>A cruise into the common frameworks in DAO layer. Vivid explanation on how industry handle this tough layer. Frameworks include JPA, Hibernate, JdbcTemplate and so on</p>
                </div>
            </div>

            <div class="row sybRow">
                <div class="col-md-2 syllabusLeft">
                    <div><div class="syllbusTag">SECTION X</div></div>
                </div>
                <div class="col-md-10 syllabusRight">
                    <h2 style="font-size: 20px">
                        Industry Project Environment
                    </h2>
                    <p>Simulate project development environment, covering Agile methodologies, CICD tools, Cloud Platforms, DevOps, Documentations and work culture etc</p>
                </div>
            </div>

        </div>

        <div class = "row">
            <div class = "sessionTitle">
                <h2>Project</h2>
            </div>
            <div class="row sybRow">
                <div class="col-md-2 syllabusLeft">
                    <div>
                        <div class="syllbusTag">
                            PROJECT A
                        </div>
                    </div>

                </div>
                <div class="col-md-10 syllabusRight">
                    <h2 style="font-size: 20px">
                        Mensa
                    </h2>
                    <p>A rewrite of the legacy mensa project. We are enhance our customer facing project with new technologies including Spring Boot, Security, MongoDB, Angular, Bootstrap.
                        The legacy project is featured with MySql, Thymeleaf and Spring framework.</p>
                </div>
            </div>

            <div class="row sybRow">
                <div class="col-md-2 syllabusLeft">
                    <div>
                        <div class="syllbusTag">
                            PROJECT L
                        </div>
                    </div>

                </div>
                <div class="col-md-10 syllabusRight">
                    <h2 style="font-size: 20px">
                        Virtual-Hub
                    </h2>
                    <p>The virtual-hub project is building a platform to automate the current technical recruiting and marketing process. It uses React, Spring Boot and Cloud technologies.
                        The project will be expanded to cover our other internal projects</p>
                </div>
            </div>

            <div class="row sybRow">
                <div class="col-md-2 syllabusLeft">
                    <div>
                        <div class="syllbusTag">
                            PROJECT I
                        </div>
                    </div>

                </div>
                <div class="col-md-10 syllabusRight">
                    <h2 style="font-size: 20px">
                        Chamaeleon
                    </h2>
                    <p>Our customer is requesting a system for car dealers. This is a brand new platform to integrate all car dealer products together such that customer can select used and new cars,
                        book appointments in one place</p>
                </div>
            </div>

        </div>

        <div class = "row">
            <div class = "sessionTitle">
                <h2>Bonus</h2>
            </div>
            <div class="row justify-content-center pl-3 pr-3">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="about-info-item mb-4 mb-lg-0">
                        <h3 class="mb-3"><i class="fas fa-medal mr-3 text-color text-md"></i><span>Endorsement</span></h3>
                        <p>After your internship, whenever needed, We will provide company titled letter to endorse the experience and evaluation of your full-time work. </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="about-info-item mb-4 mb-lg-0">
                        <h3 class="mb-3"><i class="fas fa-medal mr-3 text-color text-md"></i><span>Sponsorship</span></h3>
                        <p>If you are expecting CPT or OPT like experience, we can sponsor you as long as it is allowed by the law. However, if you are looking for any OPT or H1B fraud, this is not for you. </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="about-info-item mb-4 mb-lg-0">
                        <h3 class="mb-3"><i class="fas fa-medal mr-3 text-color text-md"></i><span>Remote</span></h3>
                        <p>We are an organization that allows fully remote work. As part of that promise, this program is dedicated as remote program. We just expect you to finish your tasks no matter where you are.</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="about-info-item mb-4 mb-lg-0">
                        <h3 class="mb-3"><i class="fas fa-medal mr-3 text-color text-md"></i><span>Multiple Projects</span></h3>
                        <p>Practice makes perfect. We have multiple industry level projects to help you improve your skills and gain your experience. Your project will be guided by expert developers. See above for project details.</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="about-info-item mb-4 mb-lg-0">
                        <h3 class="mb-3"><i class="fas fa-medal mr-3 text-color text-md"></i><span>Job Referral</span></h3>
                        <p>We have strong positive connections with many recruiters and clients. Our resources are working at all industry top clients. They are across the country. They are the good support for you.</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="about-info-item mb-4 mb-lg-0">
                        <h3 class="mb-3"><i class="fas fa-medal mr-3 text-color text-md"></i><span>Newbies Welcome</span></h3>
                        <p>We recommend you have certain programming background prior to joining us. But even if you are totally newbies, no worries at all, we have free materials to get you fully prepared for our program</p>
                    </div>
                </div>
            </div>
        </div>

    </div> <!--main content section ends-->

</div>
</body>
</html>