<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="main-wrapper mt-5" th:fragment="details-backend">
    <div class="course-header page-header" >
        <div class="content">
            <h1 class="page-title-program">Backend Consultancy</h1>
            <p class="page-sub-title">Consultancy program to provide backend training, marketing and client project experience</p>
        </div>
    </div>
    <div class="container"> <!--main content section starts-->
        <div class = "row">
            <div class = "sessionTitle">
                <h2>Overview</h2>
            </div>
            <div class="pl-3 pr-3">
                <p>
                    Backend Consultancy is an all in one program that covers the candidate recruiting, technical screening, backend (Java based) enhancement, marketing and client onboarding process. It benenfits candidates both with
                    and without experiences in backend programming. The technical enhancement is performed by top rated programmers with many years of industry experiences.
                    <br><br>
                    The program covers all levels of sponsorship and will deliver candidates to top level technical companies. We have successfully placed candidates across all United States and multiple industries. You only get yourself
                    ready and we will take care of all the rest parts.
                    <br><br>
                    No matter you are a developer with many years of experience or just a new graduate, we will tailor the program just for you.
                </p>
            </div>
        </div>

        <div class = "row">
            <div class = "sessionTitle">
                <h2>Information</h2>
            </div>
            <div class="ml-4 mr-4">
                <div class="row">
                    <div class="col-md-3 titleComponent">
                        <p>
                            <span>Length</span>
                        </p>
                        <h3>8 weeks</h3>
                        <small>two hours per session, 5 sessions per week</small>
                    </div>
                    <div class="col-md-3 titleComponent">
                        <p>
                            <span>Prerequisite</span>
                        </p>
                        <h3>Not Required</h3>
                        <small>Strongly suggest to have basic java knowledge</small>
                    </div>
                    <div class="col-md-3 titleComponent">
                        <p>
                            <span>Trainer</span>
                        </p>
                        <h3>One trainer, multiple TA</h3>
                        <small>Our trainer has many years of working and training experience</small>
                    </div>
                    <div class="col-md-3 titleComponent">
                        <p>
                            <span>Package</span>
                        </p>
                        <h3>All in One</h3>
                        <small>Program covers training, marketing and boarding with no worries</small>
                    </div>
                </div>
            </div>
        </div>

        <div class = "row">
            <div class = "sessionTitle">
                <h2>Syllabus</h2>
            </div>
            <div class="row sybRow">
                <div class="col-md-2 syllabusLeft">
                    <div><div class="syllbusTag">SECTION I</div></div>
                </div>
                <div class="col-md-10 syllabusRight">
                    <h2 style="font-size: 20px">
                        Course Introduction
                    </h2>
                    <p>Covers overview of the training course, including assignment, quiz, presentations and marketing procedures etc</p>
                </div>
            </div>
            <div class="row sybRow">
                <div class="col-md-2 syllabusLeft">
                    <div><div class="syllbusTag">SECTION II</div></div>
                </div>
                <div class="col-md-10 syllabusRight">
                    <h2 style="font-size: 20px">
                        Core Java
                    </h2>
                    <p>Most important topics in Java language, such as, thread, concurrency, design pattern, collections, stream API, lambda, OOP design etc</p>
                </div>
            </div>

            <div class="row sybRow">
                <div class="col-md-2 syllabusLeft">
                    <div><div class="syllbusTag">SECTION III</div></div>
                </div>
                <div class="col-md-10 syllabusRight">
                    <h2 style="font-size: 20px">
                        Database
                    </h2>
                    <p>In-depth tutorial including both SQL and NoSQL. Lots of examples and practice questions covering Oracle, MySQL, SQL Server, MongoDB, Cassandra</p>
                </div>
            </div>

            <div class="row sybRow">
                <div class="col-md-2 syllabusLeft">
                    <div><div class="syllbusTag">SECTION IV</div></div>
                </div>
                <div class="col-md-10 syllabusRight">
                    <h2 style="font-size: 20px">
                        Spring Framework
                    </h2>
                    <p>Full coverage of key spring frameworks. Helping understand how the framework works internally. Covers MVC, Rest API, IoC, AOP etc</p>
                </div>
            </div>

            <div class="row sybRow">
                <div class="col-md-2 syllabusLeft">
                    <div><div class="syllbusTag">SECTION V</div></div>
                </div>
                <div class="col-md-10 syllabusRight">
                    <h2 style="font-size: 20px">
                        Spring Boot
                    </h2>
                    <p>Spring boot as a standalone topic to emphasis the importance and usage of this tool. Code walk through with real work examples</p>
                </div>
            </div>

            <div class="row sybRow">
                <div class="col-md-2 syllabusLeft">
                    <div><div class="syllbusTag">SECTION VI</div></div>
                </div>
                <div class="col-md-10 syllabusRight">
                    <h2 style="font-size: 20px">
                        Data Access
                    </h2>
                    <p>A cruise into the common frameworks in DAO layer. Vivid explanation on how industry handle this tough layer. Frameworks include JPA, Hibernate, JdbcTemplate and so on</p>
                </div>
            </div>

            <div class="row sybRow">
                <div class="col-md-2 syllabusLeft">
                    <div><div class="syllbusTag">SECTION VII</div></div>
                </div>
                <div class="col-md-10 syllabusRight">
                    <h2 style="font-size: 20px">
                        Web Security
                    </h2>
                    <p>Join us to feel how our trainer explains web security, you will never feel so clear about how security works. Topic covers include Spring Security, JWT token, OAuth 2, Private and Public Key etc</p>
                </div>
            </div>

            <div class="row sybRow">
                <div class="col-md-2 syllabusLeft">
                    <div><div class="syllbusTag">SECTION VIII</div></div>
                </div>
                <div class="col-md-10 syllabusRight">
                    <h2 style="font-size: 20px">
                        Test Framework
                    </h2>
                    <p>Test in different environment (Local, Dev, QA, Performance, Prod). Multiple test types such as Automation Test, Load Test, AB test etc. Technical coverage includes JUnit, Mockito, Selenium, Cucumber, TestNG and more</p>
                </div>
            </div>

            <div class="row sybRow">
                <div class="col-md-2 syllabusLeft">
                    <div><div class="syllbusTag">SECTION IX</div></div>
                </div>
                <div class="col-md-10 syllabusRight">
                    <h2 style="font-size: 20px">
                        MicroService
                    </h2>
                    <p>We will cover all aspects of microservice ecosystem, including Eureka, Load Balancer, API Gateway, Kafka, RabbitMQ, Feign etc. You will have chance to write your own microservice project</p>
                </div>
            </div>

            <div class="row sybRow">
                <div class="col-md-2 syllabusLeft">
                    <div><div class="syllbusTag">SECTION X</div></div>
                </div>
                <div class="col-md-10 syllabusRight">
                    <h2 style="font-size: 20px">
                        Industry Project Environment
                    </h2>
                    <p>Simulate project development environment, covering Agile methodologies, CICD tools, Cloud Platforms, DevOps, Documentations and work culture etc</p>
                </div>
            </div>

        </div>

        <div class = "row">
            <div class = "sessionTitle">
                <h2>Project</h2>
            </div>

            <div class="row sybRow">
                <div class="col-md-2 syllabusLeft">
                    <div>
                        <div class="syllbusTag">
                            PROJECT C
                        </div>
                    </div>

                </div>
                <div class="col-md-10 syllabusRight">
                    <h2 style="font-size: 20px">
                        Profile Builder
                    </h2>
                    <p>This is an front end demanded project to guide our employees to build their personal profile webpage. This is an entry level project. It helps you utilize the knowledges you learnt
                    and be ready with your own profile when you are presenting yourself</p>
                </div>
            </div>

            <div class="row sybRow">
                <div class="col-md-2 syllabusLeft">
                    <div>
                        <div class="syllbusTag">
                            PROJECT E
                        </div>
                    </div>

                </div>
                <div class="col-md-10 syllabusRight">
                    <h2 style="font-size: 20px">
                        Ecommerce MicroService
                    </h2>
                    <p>Ecommerce microservice is an training project that integrates spring boot, Rest API, Dependency Injection with Netflix MicroService OSS. Traditional Database and Kafka is also used.
                    A lot of more details will be included in class</p>
                </div>
            </div>

            <div class="row sybRow">
                <div class="col-md-2 syllabusLeft">
                    <div>
                        <div class="syllbusTag">
                            PROJECT W
                        </div>
                    </div>

                </div>
                <div class="col-md-10 syllabusRight">
                    <h2 style="font-size: 20px">
                        User/Inventory Management System
                    </h2>
                    <p>A backend and full stack system to cover all important topics that industry currently uses. You will build the whole system from front end, backend to database. You will also
                    integrate securities and test frameworks.</p>
                </div>
            </div>

        </div>

        <div class = "row">
            <div class = "sessionTitle">
                <h2>Bonus</h2>
            </div>
            <div class="row justify-content-center pl-3 pr-3">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="about-info-item mb-4 mb-lg-0">
                        <h3 class="mb-3"><i class="fas fa-medal mr-3 text-color text-md"></i><span>Top Rated Trainers</span></h3>
                        <p>Our trainers are from industries with many years of experience in programming and teaching. They will not only cover the training, but also help with questions and preparing for interview.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="about-info-item mb-4 mb-lg-0">
                        <h3 class="mb-3"><i class="fas fa-medal mr-3 text-color text-md"></i><span>Resume</span></h3>
                        <p>A good resume can make huge difference even two candidates have exactly the same experience. Our resume professionals will one-to-one guide you how to prepare an attractive resume.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="about-info-item mb-4 mb-lg-0">
                        <h3 class="mb-3"><i class="fas fa-medal mr-3 text-color text-md"></i><span>Mock Interview</span></h3>
                        <p>You have the experience and knowledge, but you may not express it out the way interviewers wanted. We provide multiple rounds of technical and behavior mock interviews to help you show your real strength.</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="about-info-item mb-4 mb-lg-0">
                        <h3 class="mb-3"><i class="fas fa-medal mr-3 text-color text-md"></i><span>Sponsorship</span></h3>
                        <p>As a consultancy program, we will sponsor your working status, including OPT, H1B and Green Card. We are proud to promise to file the application for you at earliest possible time upon your request.</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="about-info-item mb-4 mb-lg-0">
                        <h3 class="mb-3"><i class="fas fa-medal mr-3 text-color text-md"></i><span>Job Referral</span></h3>
                        <p>We have strong positive connections with many recruiters and clients. Our resources are working at all industry top clients. They are across the country. They are the good support for you.</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="about-info-item mb-4 mb-lg-0">
                        <h3 class="mb-3"><i class="fas fa-medal mr-3 text-color text-md"></i><span>Newbies Welcome</span></h3>
                        <p>We recommend you have certain programming background prior to joining us. But even if you are totally newbies, no worries at all, we have free materials to get you fully prepared for our program</p>
                    </div>
                </div>
            </div>
        </div>

    </div> <!--main content section ends-->

    <br><br><br><br><br><br><br><br>


</div>
</body>
</html>