<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="header :: header(~{::title})">
</head>

<body>

<!-- Section 1 starts -->
<div class="main-wrapper ">
    <section class="page-title service-bg-1">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block text-center">
                        <h1 class="text-capitalize mb-4 text-lg">Partnerships</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section 1 ends -->

    <!-- section 2 Start list of client history -->
    <section class="section-flow" style="margin-top:5%; margin-bottom:10%">
        <!-- section header render history details title-->
        <div class="offerListHeader">
            <div class="row">
                <div class="col-md-6 offer-title text-center" align="center" style="dispaly:hidden">
                    <div><h2>Multiple Industries</h2></div>
                </div>
                <div class="col-md-6 offer-title text-center mobileHidden" align="center">
                    <div><h2>Top Clients</h2></div>
                </div>
            </div>
        </div>

        <!-- section list, list of offers history content -->
        <div class="offer-contents">
            <div class = "row">

                <div class ="col-12 desktop-padding" style="padding-left:10%">
                    <!-- title -->
                    <div class="row" style="margin-top: 12px;margin-bottom: 2px">

                        <div class = "col-3 col-md-3 auto-text-align">
                            <span>Industry</span>
                        </div>
                        <div class = "col-3 col-md-3 auto-text-align">
                            <span>Name</span>
                        </div>
                        <div class = "col-3 col-md-3 auto-text-align">
                            <span>Location</span>
                        </div>
                        <div class = "col-3 col-md-3 auto-text-align">
                            <span>Headcount</span>
                        </div>
                    </div>

                    <!-- resource list-->
                    <div th:each="client : ${clients}" class="row" style="height: 40px">
                        <div class = "col-3 col-md-3 auto-text-align">
                            <h4 th:text="${client.getIndustry()}"></h4>
                        </div>
                        <div class = "col-3 col-md-3 auto-text-align">
                            <h4 th:text="${client.getName()}"></h4>
                        </div>
                        <div class = "col-3 col-md-3 auto-text-align">
                            <h4 th:text="${client.getLocation()}"></h4>
                        </div>
                        <div class = "col-3 col-md-3 auto-text-align">
                            <h4 th:text="${client.getHeadcount()}"></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <footer th:replace="footer">
    </footer>

</div>

</body>
</html>
