<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="header :: header(~{::title})">
</head>

<body>

<div class="main-wrapper">
    <section class="page-title testimony-bg-1">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block text-center">
                        <!--<span class="text-white" th:text="${#messages.msg('pilot.career.sec1.header')}"></span>-->
                        <h1 class="text-capitalize mt-4 mb-6 text-lg">We're Top Rated</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>

<!-- Section Testimonial Start -->
<section class="section testimonial bg-gray">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7 text-center">
                <div class="section-title">
                    <span class="h6 text-color text-uppercase">Pilot Technologies LLC</span>
                    <h2 class="mt-3 content-title" th:text="${#messages.msg('pilot.about.sec4.main')}"></h2>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="testimonial-wrap">
            <div class="testimonial-item position-relative" th:each="testimony: ${testimonies}">
                <i class="ti-comments text-color"></i>

                <div class="testimonial-item-content">
                    <p class="testimonial-text" th:text="${testimony.text}"></p>

                    <div class="testimonial-author">
                        <h5 class="mb-0 text-capitalize" th:text="${testimony.authorName}"></h5>
                        <p th:text="${testimony.authorTitle + ' at ' + testimony.authorClient}"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Section Testimonial End -->

<footer th:replace="footer">
</footer>

</div>

</body>
</html>